@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #222;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #222;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
    background-color: #fffce7;
}

/* Header start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #FEFAE0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #283618;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(185, 4, 73);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(185, 4, 73);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#navbar li svg:hover{
    fill:rgb(185, 4, 73);
}

/* Home page */

#hero{
    background-image: url(./assets/hero.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: 60%;
    background-repeat: no-repeat;
    padding: 0px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #BC6C25;
}

#hero button{
    background-image: url('brush.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 100px;
    background-color: transparent;
    border: 0;
    color: #fffce7;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #e0c6a8;
    border-radius: 10px;
    margin: 15px 0;

}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(153, 99, 38, 0.2);
    transition: 0.3s ease;

}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    margin-top: 5px;
    line-height: 1;
    border-radius: 4px;
    color: #FEFAE0;
    background-color: #BC6C25;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(83, 10, 10, 0.08);
    transition: 0.2s ease;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;

}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #67887a;
    font-size: 12px;

}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #243115;
    font-size: 14px;

}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(185, 4, 73);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #283618;
}

#product1 .pro .pro-cart{
    position: absolute;
    bottom: 20px;
    right: 10px;
    margin-right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("assets/Green\ Minimalist\ Summer\ Big\ Sale\ Medium\ Banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #243115;
    font-size: 16px;

}
#banner h2{
    color: #243115;
    font-size: 35px;
    padding: 10px 0;
}

#banner h2 span{
    color: rgb(185, 4, 73);
}

#banner button:hover{
    background-color: #BC6C25;
    color: white;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./assets/mini\ banner\ 1.png");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("./assets/mini\ banner\ 2.jpg");
}

#sm-banner h4{
    color: #222;
    font-size: 20px;
    font-weight: 300;
    
}

#sm-banner h2{
    color: #222;
    font-size: 28px;
    font-weight: 800;
    
}

#sm-banner span{
    color: #222;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    
}

#sm-banner .banner-box2 h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
    
}

#sm-banner .banner-box2 h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
    
}

#sm-banner .banner-box2 span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    
}


#sm-banner .banner-box:hover button{
    background-color: #BC6C25;
    color: white;
    border: 1px solid #283618;
}

#sm-banner .banner-box2:hover button{
    background-color: rgb(185, 4, 73);
    color: white;
    border: 1px solid #283618;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./assets/tiny\ banner1.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px; 
}

#banner3 .banner-box2{
    background-image: url("./assets/tiny\ banner2.jpg");
}

#banner3 .banner-box3{
    background-image: url("./assets/tiny\ banner3.jpg");
}

#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
    text-shadow: 2px 2px 4px black;
}

#banner3 h3{
    color: yellow;
    font-weight: 800;
    font-size: 15px;
    text-shadow: 2px 2px 4px black;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("./assets/newsletter\ banner\ 1.png");
    background-repeat: no-repeat;
    /* width: 100%; */
    background-position: 20% 30%;
    background-color: rgb(211, 191, 164);
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #222;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #243115;
}

#newsletter p span{
    color: rgb(185, 4, 73);
}

#newsletter .form{
    display: flex;
    width: 40%;

}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #283618;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}